<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Min Joon Choi">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <meta name="description" content="SnapCampus 스냅캠퍼스 : 가천대학교 위치/장소 기반형 SNS 플랫폼 (feat.인스타그램)" />
    <meta name="keywords" content="스냅캠퍼스,가천대학교,학교,SNS,인스타그램,위치,장소" />

    <meta property="og:title" content="스냅캠퍼스 (가천대학교">
    <meta property="og:image" content="/images/og_image.png">
    <meta property="og:description" content="스냅캠퍼스 : 가천대학교 위치/장소 기반형 SNS 플랫폼 (feat.인스타그램)">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/tiny-slider.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/glightbox.min.css">
    <link rel="stylesheet" href="/css/flatpickr.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=bsya7q0qi7"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <title>스냅캠퍼스 (가천대학교)</title>
    <style>
        @media (max-width: 992px) {
            .navbar .container-fluid {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            .navbar-brand {
                max-width: 20%;
            }
        }
    </style>
</head>
<body class="d-flex flex-column vh-100">

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Mobile toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo -->
        <a class="navbar-brand" href="/" style="flex-grow: 0; flex-shrink: 1; max-width: 20%;">스냅캠퍼스<span class="text-primary">.</span></a>

        <!-- Navbar content for menu -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post/search">검색하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{#auth}}/user/{{auth.username}}{{/auth}}{{^auth}}/member/login{{/auth}}">내 정보/사진</a>
                </li>
            </ul>
        </div>

        <!-- Conditional auth links -->
        {{#auth}}
            <ul class="navbar-nav" style="flex-direction: row">
                <li class="nav-item">
                    <a href="#" class="nav-link me-2" style="white-space: nowrap;">{{auth.username}}({{auth.nick}})</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">로그아웃</a>
                </li>
            </ul>
        {{/auth}}
        {{^auth}}
            <ul class="navbar-nav" style="flex-direction: row">
                <li class="nav-item">
                    <a href="/member/login" class="nav-link me-2">로그인</a>
                </li>
                <li class="nav-item">
                    <a href="/member/signup" class="nav-link">회원가입</a>
                </li>
            </ul>
        {{/auth}}
    </div>
</nav>

<div id="mobileAlert" class="container">
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0; margin-top: 5px;">
        모바일 화면에서는 UI가 정상적으로 표시되지 않을 수 있습니다! PC를 이용해주세요.
    </div>
</div>
<script>
    $(document).ready(function() {
        function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
        }

        if (isMobileDevice()) {
            $('#mobileAlert').show();
        } else {
            $('#mobileAlert').hide();
        }
    });
</script>
