{{>layout/header}}
	<div class="section search-result-wrap">
		<div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center">로그인</h1>
                            <form action="/member/signup" method="post">
                                <div class="mb-3">
                                    <label for="inputEmail" class="form-label">아이디</label>
                                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text text-danger">에러 메시지 테스트.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPassword" class="form-label">비밀번호</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">로그인</button>
                            </form>
                            <div class="text-end mt-4">
                                <a href="/member/signup">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
{{>layout/footer}}
